
body{
    background-color: lightblue;
    padding: 3%;
}
.box{
    border: 2px solid green;
    background: lightyellow;
    width: 30%;
    height: 0;
    padding-top: 15%;
    padding-bottom: 15%;
}

.entry{
    position: relative;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    /*left: ;*/
    top: -40px;
}

hr{
    width: 4%;
    border-style: dotted none none;
    border-width: 7px;
    color: red;
    margin: 25px auto 40px auto;
}

.score_board{
    margin: 3%;
}
button{
    margin: 3% 2%;
}

span{
    font-size: 1.5rem;
}
.user{
    font-size: x-large;
}



.mt-100 {
    margin-top: 100px
}

.container {
    margin-top: 200px
}

.card {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px 0 rgb(249, 249, 250);
    -moz-box-shadow: 0 0 5px 0 rgba(212, 182, 212, 1);
    box-shadow: 0 0 5px 0 rgb(161, 163, 164)
}

.card .card-body {
    padding: 1rem 1rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

p {
    font-size: 14px
}

h4 {
    margin-top: 18px
}

.cross {
    padding: 10px;
    color: #d6312d;
}

.continue:focus {
    outline: none
}

.continue {
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 13px;
    padding: 8px 19px;
    color: #fff;
    background-color: #D50000
}

.continue:hover {
    background-color: #D32F2F !important;
    cursor: auto;
}

.cong_dialog{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
}