 body{
    margin:0;
    padding:0;
}
.container{
   border: 2px solid red;
   display: grid;
   width:90%;
   display:grid;
   grid-template-rows:repeat(3, 1fr);
   grid-template-columns:repeat(3,1fr);
   grid-gap: 20px;
   grid-auto-rows:150px;
   height: 100%;
   width: 100%;
}
 .box{
    border: 2px solid green;
    background: yellow;
    width: 30%;
    height: 8rem; /* TODO "provide height = width" */
 } 

.entry{
    text-align: center;
    vertical-align: middle;
    font-size: 4rem;
    margin-top: 1.8rem;
}

